
<aside class="sidebar">

    <div class="sidebar-top">

        <div class="brand">

            <div class="brand-logo">
                A
            </div>

            <div>
                <h3>Atelier OS</h3>
                <span>Clothing ERP</span>
            </div>

        </div>

    </div>

    <nav class="sidebar-menu">

        <a href="@Url.Action("Index","Dashboard")" class="active">
            <i class="ri-dashboard-fill"></i>
            <span>Dashboard</span>
        </a>

        <a href="#">
            <i class="ri-t-shirt-2-line"></i>
            <span>Products</span>
        </a>

        <a href="#">
            <i class="ri-price-tag-3-line"></i>
            <span>Categories</span>
        </a>

        <a href="#">
            <i class="ri-shopping-bag-3-line"></i>
            <span>Orders</span>
        </a>

        <a href="#">
            <i class="ri-bar-chart-box-line"></i>
            <span>Reports</span>
        </a>

        <a href="#">
            <i class="ri-settings-3-line"></i>
            <span>Settings</span>
        </a>

    </nav>

    <div class="sidebar-bottom">

        <a href="@Url.Action("Logout","Account")">

            <i class="ri-logout-box-r-line"></i>

            Logout

        </a>

    </div>

</aside>